#include <windows.h>

101               ICON                    "icon\\traymond.ico"

VS_VERSION_INFO VERSIONINFO

 FILEVERSION 2,0,2,0

 PRODUCTVERSION 2,0,2,0

 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK

 FILEFLAGS 0

 FILEOS VOS__WINDOWS32

 FILETYPE VFT_APP

 FILEOS 0x40004L

 FILETYPE 0x1L

 FILESUBTYPE 0x0L

BEGIN

    BLOCK "StringFileInfo"

    BEGIN

        BLOCK "000904b0"

        BEGIN

            VALUE "CompanyName", "fcFn & dkxce"

            VALUE "FileDescription", "Traymond II - Minimize any Window to Tray (by dkxce)"

            VALUE "FileVersion", "2.0.2"

            VALUE "InternalName", "Traymond.exe"

            VALUE "LegalCopyright", "Copyright (C) 2020-2024 fcFn, dkxce"

            VALUE "OriginalFilename", "Traymond.exe"

            VALUE "ProductName", "Traymond"

            VALUE "ProductVersion", "2.0.2"

            VALUE "Comment", "https://github.com/dkxce/traymond"

        END

    END

    BLOCK "VarFileInfo"

    BEGIN

        VALUE "Translation", 0x9, 1200

    END

END
